
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/DatePicker/persian-datepicker.min.css" rel="stylesheet" />
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/Popper.js"></script>
    <script src="~/js/DatePicker/persian-date.min.js"></script>
    <script src="~/js/DatePicker/persian-datepicker.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/devAjax.js"></script>
    <script src="~/js/UICommon.js"></script>
    <script>
        $(load);
        function load() {



            $(document).scroll(function () {
                var val = $(this).scrollTop();
                if (val > 100)
                    $("#imgscoll").fadeIn();
                else
                    $("#imgscoll").fadeOut();

            });

            $("#imgscoll").click(function () {

                var timer = setInterval(function () {
                    var val = $(document).scrollTop();
                    if (val > 10) {
                        val = val - 5;
                        $(document).scrollTop(val);
                    }
                    else {

                        clearInterval(timer);
                    }

                }, 10);
            });
        }
    </script>
    @RenderSection("Head", false)
    <title>@ViewBag.Title</title>

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            @await Component.InvokeAsync("Header")
        </div>
        <div class="row">
            @RenderBody()
        </div>

    </div>

    <i id="imgscoll" class="fa fa-angle-up bg-success p-3" aria-hidden="true" style="font-size:20px;position:fixed;bottom:10px;right:10px;color:white;cursor:pointer;border-radius:50%;display:none;"></i>

</body>
</html>
