
@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>صفحه اصلی</title>

</head>
<body>

    <div class="jumbotron text-center" style="font-size:25px;">
        صفحه اصلی
    </div>
    @Html.Partial("~/Areas/Admin/Views/Picture/Index.cshtml", "TestPicture")

</body>
</html>
