@*@model Models.NewsModel
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>مدیریت دسته ها</title>

</head>
<body>
    
    <div style="width:70%;margin:10px auto;">
        <div class="jumbotron text-danger">
            <h3>مدیریت دسته ها</h3>
        </div>
        <form class="form-inline" asp-controller="Category" asp-action="List" method="get">
            <label asp-for="NewsSearchName"></label>
            <input class="form-control" asp-for="NewsSearchName">

            <button type="submit" class="btn btn-primary">جستجو</button>
        </form>
        <div style="text-align:left">
            <a class="btn-link" asp-controller="Category" asp-action="Create">ثبت جدید</a>
        </div>
        <br />
        <table class="table text-center table-bordered table-hover">
            <thead>
                <tr>
                    <td>عنوان</td>
                    <td>شرح</td>
                    <td>ویرایش</td>
                    <td>حذف</td>

                </tr>
            </thead>
            <tbody>*@
                @*@foreach (var item in Model.NewsList)*@
                {
                   @*<tr> 

                        

                        <td>@item.FullText</td>
                        <td>@item.Title</td>*@

                        @*<td><a class="btn-link" asp-controller="News" asp-action="Create" asp-route-id="@item.ID">ویرایش</a></td>*@
                        @*<td><a class="btn-link" asp-controller="News" asp-action="Remove" asp-route-id="@item.ID">حذف</a></td>*@



                    <!--</tr>
                }
            </tbody>
        </table>
    </div>
    @*var _list = Context.Select(p=>new {p.ID,p.Name }).ToList();*@
</body>
</html>-->